﻿@model IEnumerable<PIS.SOA.Base.User.UserModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Last Logged In</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        @foreach (PIS.SOA.Base.User.UserModel userModel in Model)
        {
        <tr>
            <td>@userModel.username</td>
            <td>@userModel.last_loggedin.Value.ToString("dddd, dd MMMM yyyy h:mm tt")</td>
            @if (userModel.status)
            {
                <td><label class="badge badge-success">Active</label></td>
            }
            else
            {
                <td><label class="badge badge-danger">InActive</label></td>
            }
        </tr>
        }
    </tbody>
</table>
