﻿@model PIS.SOA.Base.User.UserCreateModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" asp-action="RegisterPost" asp-controller="Home">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Username</label>
        <input type="text" asp-for="username" class="form-control" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" asp-for="password" class="form-control" />
    </div>

    <div class="form-group">
        <label>Name Nepali</label>
        <input type="text" asp-for="name_en" class="form-control" />
    </div>

    <div class="form-group">
        <label>Name English</label>
        <input type="text" asp-for="name_np" class="form-control" />
    </div>

    <div class="form-group">
        <label>Pis Number</label>
        <input type="text" asp-for="pis_number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>